<div class="container" style="width:600px; height:500px; top: 50%; left: 50%; margin: -250px 0px 0px -300px; position:absolute; background-color: #C9EEEA; ">
  <div style="display:table-cell; width:600px; height:500px; text-align:center; vertical-align: middle; ">
    <h2>Completed</h2>
    <h3>To</h3>
    <%= @cherry %>
    <h3>Title </h3>
    <%= @apple %>
    <h3>Contents</h3>
    <%= @airplane %>
    <br>
    <a href="/" style="margin-top:20px"><button type="submit" class="btn btn-default" >Return</button></a>
   </div>
</div> 